<script lang="ts">
import Vue from 'vue';
import Globe from './globe.vue';
import HalfGlobe from './half-globe.vue';
import Orbital from './orbital.vue';

export default Vue.extend({
  name: 'GlobeGraphic',
  components: {
    Globe,
    HalfGlobe,
    Orbital,
  },
  props: {
    variant: {
      type: String,
      required: false,
      default: '',
    },
    asset: {
      type: String,
      required: false,
      default: 'globe',
    },
    width: {
      type: String,
      required: false,
      default: '880',
    },
    height: {
      type: String,
      required: false,
      default: '650',
    },
  },
});
</script>

<template>
  <div>
    <div
      v-if="asset === 'globe'"
      class="globe-graphic"
      :class="`globe-graphic--${variant}`"
    >
      <Globe />
      <div class="globe-graphic__glow"></div>
    </div>
    <div
      v-if="asset === 'half-globe'"
      class="half-globe-graphic"
      :class="`half-globe-graphic--${variant}`"
    >
      <HalfGlobe :width="width" :height="height" />
    </div>
    <div
      v-if="asset === 'orbital'"
      class="orbital-graphic"
      :class="`orbital-graphic--${variant}`"
    >
      <Orbital />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.globe-graphic {
  position: relative;
  width: 85%;
  margin: 0 auto;
  @media (min-width: $breakpoint-md) {
    width: 100%;
  }
  &__orbs {
    position: absolute;
    top: -26%;
    left: -7%;
    width: 118%;
    :deep svg {
      width: 100%;
    }
  }
  :deep {
    .animated-hero__globe {
      width: 100%;
      z-index: 1;
    }
    .branches {
      width: 100%;
      left: 0;
      z-index: 1;
    }
  }
  &__glow {
    z-index: 1;
    position: absolute;
    isolation: isolate;
    width: 100%;
    height: 100%;
    left: -37%;
    top: 0;
    background: radial-gradient(
      46.15% 46.15% at 50.02% 49.99%,
      #ffd58c 0%,
      #eac380 5%,
      #a4895a 23%,
      #69583a 41%,
      #3c3220 57%,
      #1b160e 71%,
      #070603 82%,
      #000000 90%
    );
    background-blend-mode: screen;
    mix-blend-mode: screen;
    opacity: 0.3;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  &--hero {
    position: relative;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    @media (min-width: $breakpoint-md) {
      width: 100%;
    }

    .globe-graphic__glow {
      position: absolute;
      width: 98.4%;
      height: 100%;
      top: 0;
      left: 35%;
      background: radial-gradient(
        46.02% 46.02% at 48.9% 50.26%,
        #a989f5 0%,
        #a183ea 3%,
        #715ba4 22%,
        #483b69 39%,
        #29213c 56%,
        #120f1b 70%,
        #040407 82%,
        #000000 90%
      );
      background-blend-mode: screen;
      mix-blend-mode: screen;
      opacity: 0.5;
      transition: opacity 0.5s ease-in 1s;
    }
  }
}
</style>
