<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FifteenHero',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section
    class="fifteen-hero fifteen-hero__background"
    :class="data.title.image?.url ? 'fifteen-hero--large' : ''"
    :style="`background-image: url(${data.background});`"
  >
    <SlpContainer>
      <SlpRow class="fifteen-hero__row">
        <SlpColumn
          :cols="6"
          class="slp-flex slp-justify-content-center slp-align-items-center slp-mb-24"
        ></SlpColumn>
        <SlpColumn
          :cols="6"
          class="slp-flex slp-justify-content-center slp-align-items-center slp-mb-24"
        >
          <div class="fifteen-hero__title-image">
            <nuxt-img
              v-if="data.title.image?.url"
              class="fifteen-hero__image"
              :src="data.title.image.url"
              :alt="data.title.image.alt"
              loading="lazy"
              data-aos="fade-up"
              data-aos-duration="600"
              width="512"
            />
          </div>
          <div class="fifteen-hero__body">
            <SlpTypography
              v-if="data.title.text"
              class="slp-mb-32 slp-color-primary-300 fifteen-hero__header"
              tag="h1"
              variant="heading1"
              data-aos="fade-up"
              data-aos-duration="600"
              >{{ data.title.text }}
            </SlpTypography>
            <SlpTypography
              tag="h2"
              class="slp-color-primary-300 slp-mb-32"
              variant="heading4"
              data-aos="fade-up"
              data-aos-duration="800"
              >{{ data.subtitle }}
            </SlpTypography>
            <SlpButton
              v-if="data.action"
              :variant="data.action.variant ?? 'ghost'"
              :class="
                data.action.variant
                  ? ''
                  : 'fifteen-hero__action slp-color-primary-300'
              "
              :href="data.action.url"
              :data-ga-name="data.action.data_ga_name"
              :data-ga-location="data.action.data_ga_location"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <SlpTypography class="slp-flex" tag="span" variant="body1-bold">
                {{ data.action.text }}
                <SlpIcon
                  class="slp-ml-8"
                  name="chevron-lg-right"
                  variant="product"
                  alt="Chevron Right Icon"
                />
              </SlpTypography>
            </SlpButton>
          </div>
        </SlpColumn>
        <SlpColumn
          :cols="6"
          class="slp-flex slp-justify-content-center slp-align-items-center"
          data-aos="fade-left"
          data-aos-duration="1200"
        >
          <nuxt-img
            v-if="data.image"
            class="fifteen-hero__image"
            :src="data.image.url"
            :alt="data.image.alt"
            loading="lazy"
          />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.fifteen-hero {
  min-height: 55rem;
  height: 55rem;
  position: relative;
  margin-bottom: $spacing-16;
  display: flex;
  align-items: center;

  @media (min-width: $breakpoint-md) {
    margin-bottom: $spacing-96;
    min-height: 45rem;
    height: 45rem;
  }

  &--large {
    height: 100%;
    min-height: auto;
    position: relative;
    margin-bottom: $spacing-16;
    padding-bottom: 64px;
    background-color: $color-primary-200;

    @media (min-width: $breakpoint-sm) {
      margin-bottom: $spacing-96;
      padding-bottom: 0;
      min-height: 45rem;
      height: 45rem;
    }
    &.fifteen-hero__background {
      background-position: 67% 80px;
      background-repeat: no-repeat;
      background-size: 265%;

      @media (min-width: $breakpoint-sm) {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .fifteen-hero__row {
      flex-direction: column;
      @media (min-width: $breakpoint-sm) {
        flex-direction: row-reverse;
      }
      & > :first-child {
        display: block !important;
        padding-bottom: 185%;
        @media (min-width: $breakpoint-sm) {
          padding-bottom: 0;
        }
      }
    }
    .slp-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .fifteen-hero__title {
      &-image {
        width: 100%;
        flex: 1 0 100%;
        img {
          width: 89%;
          height: auto;
          max-width: 100%;
          @media (min-width: $breakpoint-sm) {
            width: 31%;
          }
          @media (min-width: $breakpoint-md) {
            width: 71%;
          }
        }
      }
    }
  }
  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    @media (min-width: $breakpoint-md) {
      background-size: cover;
    }
  }

  &__image {
    max-width: 15rem;
  }

  &__action {
    padding: 0;
  }

  &__header {
    font-weight: 600;

    @media (min-width: $breakpoint-md) {
      font-size: 90px;
    }
  }

  .fifteen-hero__row {
    & > :first-child {
      display: none;
    }
  }
}
</style>
