<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';

import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';

export default Vue.extend({
  components: {
    IndustryTemplate,
  },
  async asyncData({ $solutionsStartupsService }: any) {
    try {
      // We pass down false as second parameter to indicate this is not an /index landing page
      const solutions = await $solutionsStartupsService.getContent(
        `solutions/startups/join`,
        false,
      );

      return { solutions };
    } catch (e) {
      throw new Error(e);
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).solutions, this.$route.path);
  },
});
</script>

<template>
  <industry-template :solutions="solutions" />
</template>
