<script>
import Vue from 'vue';
export default Vue.extend({
  name: 'CardBasicStyle', // v-if used in this component
  props: {
    noHover: { type: Boolean, required: false, default: false },
  },
});
</script>
<template>
  <div :class="[noHover ? 'card-basic__no-hover' : 'card-basic']">
    <SlpTypography class="slp-mb-24" tag="h3" variant="heading4-bold">
      <slot name="header"></slot>
    </SlpTypography>
    <slot></slot>
  </div>
</template>
<style lang="scss" scoped>
.card-basic {
  background-color: $color-surface-800;
  border-radius: 8px;
  padding: $spacing-32;
  transition: all 0.3s ease-in-out;
  &:hover {
    border-bottom-right-radius: $border-radius-pill;
  }
  &__no-hover {
    background-color: $color-surface-800;
    border-radius: 8px;
    padding: $spacing-32;
    &:hover {
      border-bottom-right-radius: 0px;
    }
  }
}
</style>
