<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'NewQuotesCarousel',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      currentSlide: -1,
      stepClicked: false,
      carouselInterval: undefined,
    };
  },
  mounted: function () {
    this.currentSlide = 0;
    this.carouselInterval = window.setInterval(() => {
      this.updateCarousel();
    }, 8000);
  },
  methods: {
    updateCarousel() {
      this.currentSlide =
        this.currentSlide < this.data.rows.length - 1
          ? this.currentSlide + 1
          : (this.currentSlide = 0);
    },
    //This method stops the 8 seconds automatic carousel update after the user clicked in one of the carousel steps and start it over again
    updateByStepClick(index) {
      this.currentSlide = index;
      clearInterval(this.carouselInterval);
      this.carouselInterval = window.setInterval(() => {
        this.updateCarousel();
      }, 8000);
    },
  },
});
</script>

<template>
  <section :id="data.id || 'case-studies'" class="new-quotes-carousel">
    <div
      v-for="(slide, index) in data.rows"
      :key="slide.title"
      class="new-quotes-carousel__wrapper"
      :class="{
        'new-quotes-carousel__wrapper--active': index === currentSlide,
      }"
    >
      <div class="new-quotes-carousel__header">
        <img :src="slide.image.url" :alt="slide.image.alt" />
      </div>
      <div class="new-quotes-carousel__quote">
        <p>{{ slide.subtitle }}</p>
      </div>
      <div class="new-quotes-carousel__author">
        <p>{{ slide.description }}</p>
      </div>
      <SlpButton
        class="new-quotes-carousel__button"
        :href="slide.button.href"
        :data-ga-name="slide.button.data_ga_name"
        :data-ga-location="slide.button.data_ga_location"
        variant="secondary"
        >{{ slide.button.text }}</SlpButton
      >
    </div>
    <ul class="new-quotes-carousel__steps-wrapper">
      <li
        v-for="(slide, index) in data.rows"
        :key="slide.title"
        class="steps-wrapper__step"
        :class="{
          'steps-wrapper__step--active': index === currentSlide,
        }"
        @click="updateByStepClick(index)"
      ></li>
    </ul>
  </section>
</template>
<style lang="scss" scoped>
.new-quotes-carousel {
  background: $color-surface-700;
  position: relative;
  color: $color-text-50;
  $parent: &;
  width: 100%;
  min-height: 555px;

  @media (max-width: $breakpoint-md) {
    min-height: 655px;
  }

  @media (max-width: $breakpoint-sm) {
    min-height: 700px;
  }

  &:before,
  &:after {
    content: '';
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: $color-surface-700;
    height: 100%;
    z-index: -1;
    left: -100vw;
    width: 200vw;
  }
  &__wrapper {
    padding: $spacing-96 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    &--active {
      visibility: visible;
      #{$parent}__header {
        opacity: 1;
        transition: 0.75s;
      }
      #{$parent}__quote {
        opacity: 1;
        transition: 1.5s;
      }
      #{$parent}__author {
        opacity: 1;
        transition: 2.25s;
      }
      #{$parent}__button {
        opacity: 1;
        transition: 3s;
      }
    }
  }
  &__header,
  &__button {
    opacity: 0;
  }
  &__header {
    min-height: 80px;
    display: flex;
    img {
      align-self: center;
    }
  }
  &__quote {
    font-size: $text-heading-5;
    font-weight: 300;
    opacity: 0;
    line-height: 32px;
    font-style: italic;
    letter-spacing: -0.72px;
    margin-top: $spacing-24;
  }
  &__author {
    margin: $spacing-24 0;
    opacity: 0;
    font-size: $text-heading-5;
    font-weight: $font-weight-bold;
  }
  &__steps-wrapper {
    position: absolute;
    display: flex;
    bottom: $spacing-96;
    .steps-wrapper__step {
      width: 65px;
      height: 2px;
      background-color: $color-surface-50;
      margin-right: 8px;
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        background-color: $color-text-link-100;
      }
      &--active {
        &:before {
          width: 65px;
          transition: width 8s ease-in;
        }
      }
    }
  }
}
</style>
