@font-face {
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~static/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Thin.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-ExtraLight.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Light.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Light.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Regular.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Medium.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-SemiBold.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Bold.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-ExtraBold.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url('~static/fonts/inter/Inter-Black.ttf') format('truetype'),
    url('~static/fonts/inter/Inter-Black.woff') format('woff');
}
