<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SecurityPackageCards',
  components: {},
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <section class="security-package-cards">
    <SlpContainer>
      <SlpRow class="security-package-cards__row">
        <SlpColumn
          v-for="card in data.cards"
          :key="card.title"
          :cols="data.column_size"
        >
          <div class="security-package-cards__card">
            <div class="security-package-cards__content">
              <div v-if="card.info_tag" class="slp-mb-16">
                <div class="security-package-cards__tag">
                  <SlpTypography variant="body2-bold" tag="div">
                    {{ card.info_tag }}
                  </SlpTypography>
                </div>
              </div>
              <SlpTypography
                variant="heading4-bold"
                tag="div"
                class="slp-mb-24"
              >
                {{ card.title }}
              </SlpTypography>
              <SlpTypography variant="body2" tag="div" class="slp-mb-32">
                {{ card.description }}
              </SlpTypography>
              <ul v-if="card.list" class="slp-mb-32">
                <li v-for="item in card.list" :key="item.text">
                  <SlpHorizontalRule />
                  <SlpTypography variant="body3" tag="p" class="slp-my-8">
                    <SlpLink v-if="item.url" :href="item.url">{{
                      item.text
                    }}</SlpLink>
                    <div v-else>{{ item.text }}</div>
                  </SlpTypography>
                </li>
              </ul>
              <SlpButton
                :href="card.button.url"
                :data-ga-name="card.button.data_ga_name"
                :data-ga-location="card.button.data_ga_location"
                variant="primary"
                class="security-package-cards__button"
              >
                {{ card.button.text }}
                <SlpIcon
                  :name="card.button.icon.name"
                  size="sm"
                  :alt="card.button.icon.alt"
                  :variant="card.button.icon.variant"
                  class="slp-ml-8"
                />
              </SlpButton>
              <SlpTypography
                variant="body3"
                tag="div"
                class="slp-mt-8 security-package-cards__note"
              >
                {{ card.note }}
              </SlpTypography>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.security-package-cards {
  margin: $spacing-32 auto;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-96 auto;
  }

  &__row {
    margin-left: 0;
    @media (min-width: $breakpoint-md) {
      margin-left: -$spacing-32;
    }
  }

  &__card {
    display: block;
    height: 100%;
    padding: $spacing-16 0;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-16 0 $spacing-16 $spacing-32;
    }
  }

  &__content {
    padding: $spacing-32 $spacing-24 $spacing-24 $spacing-24;
    display: flex;
    flex-direction: column;
    border: $color-surface-200 solid 1px;
    border-radius: $spacing-16;
    height: 100%;
  }

  &__button {
    margin-top: auto;
    text-align: center;
    justify-content: center;
  }
  &__note {
    color: $color-text-200;
  }

  :deep .slp-hr {
    border-top: 1px solid $color-surface-900;
  }

  &__tag {
    display: inline-block;
    background: $color-surface-900;
    border-radius: $spacing-8;
    padding: $spacing-16 $spacing-24;
  }
}
</style>
